<div class="title-all text-center">
    <h1>Đơn đã hoàn thành</h1>
</div>
<div class="col-md-12 col-lg-12">
    <div class="title-left"></div>  
    <div class="odr-box">
        <div class="rounded p-2 bg-light">
            <div class="media mb-2 border-bottom">
                <div class="media-body"> <a href="#"> Lorem ipsum dolor sit amet</a>
                    <div class="small text-muted">Giá: $80.00 <span class="mx-2">|</span> Tình trạng: Đã thanh toán <span class="mx-2">|</span> Tổng tiền: $80.00</div>
                </div>
            </div>
         <div class="media mb-2 border-bottom">
            <div class="media-body"> <a href="#"> Lorem ipsum dolor sit amet</a>
                <div class="small text-muted">Giá: $60.00 <span class="mx-2">|</span> Tình trạng: Đã thanh toán  <span class="mx-2">|</span> Tổng tiền: $60.00</div>
            </div>
        </div>
            <div class="media mb-2">
                <div class="media-body"> <a href="#"> Lorem ipsum dolor sit amet</a>
                    <div class="small text-muted">Giá: $40.00 <span class="mx-2">|</span> Tình trạng: Đã thanh toán  <span class="mx-2">|</span> Tổng tiền: $40.00</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="title-all text-center">
    <h1>Đơn chưa hoàn thành</h1>
</div>
<div class="col-md-12 col-lg-12">
    <div class="title-left"></div>                                  
    <div class="odr-box">
        <div class="rounded p-2 bg-light">
            <div class="media mb-2 border-bottom">
                <div class="media-body"> <a href="#"> Lorem ipsum dolor sit amet</a>
                    <div class="small text-muted">Giá: $80.00 <span class="mx-2">|</span> Tình trạng: đang giao <span class="mx-2">|</span> Còn 5 ngày</div>
                </div>
            </div>
         <div class="media mb-2 border-bottom">
            <div class="media-body"> <a href="#"> Lorem ipsum dolor sit amet</a>
                <div class="small text-muted">Giá: $60.00 <span class="mx-2">|</span> Tình trạng: đang giao <span class="mx-2">|</span> Ngày mai</div>
            </div>
        </div>
            <div class="media mb-2">
                <div class="media-body"> <a href="#"> Lorem ipsum dolor sit amet</a>
                    <div class="small text-muted">Giá: $40.00 <span class="mx-2">|</span> Tình trạng: trong kho <span class="mx-2">|</span> Không xác định</div>
                </div>
            </div>
        </div>
    </div>
</div>