<div class="title-all text-center" style="margin-top:10px;">
    <h1>Cập nhật thông tin</h1>
</div>
    <div class="title-left"></div> 
        <div style="margin-left: 25%; max-width:50%; margin-top:10px;">
                        <form class="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">Tên *</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                    <div class="invalid-feedback"> Tên là bắt buộc. </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Họ *</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                                    <div class="invalid-feedback"> Họ là bắt buộc. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="username">Tên đăng nhập *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="username" placeholder="" required>
                                    <div class="invalid-feedback" style="width: 100%;"> Tên đăng nhập là bắt buộc. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="Phonenumber">Số điện thoại *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="phonenumber" placeholder="" required>
                                    <div class="invalid-feedback" style="width: 100%;"> Bắt buộc. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email" placeholder="">
                                <div class="invalid-feedback"> Vui lòng nhập địa chỉ email để cập nhật thông tin giao hàng. </div>
                            </div>
                            <div class="mb-3">
                                <label for="address">Địa chỉ *</label>
                                <input type="text" class="form-control" id="address" placeholder="" required>
                                <div class="invalid-feedback"> Bắt buộc. </div>
                            </div>
                            <div class="mb-3">
                                <label for="address2">Địa chỉ 2 *</label>
                                <input type="text" class="form-control" id="address2" placeholder=""> </div>
                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    <label for="country">Quốc gia *</label>
                                    <select class="wide w-100" id="country">
									<option value="Choose..." data-display="Select">Chọn...</option>
									<option value="United States">Việt Nam</option>
								</select>
                                    <div class="invalid-feedback"> Vui lòng chọn quốc gia. </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="state">Tỉnh *</label>
                                    <select class="wide w-100" id="state">
									<option data-display="Select">Chọn...</option>
									<option>California</option>
								</select>
                                    <div class="invalid-feedback"> Vui lòng chọn tỉnh. </div>
                                </div>
                                
                            </div>
                            
 </div>  
 <div class="title-all text-center" style="margin-top:10px;">
     <a class="btn hvr-hover"  href="update-accept.html" style="font-weight: bold; color: white">Lưu thay đổi</a>    
</div>
                     
                            
    
 
