<div class="main-content-inner">
                <div class="card-area">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="images/card/card-img1.jpg" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Người dùng 1</h5>
                                    <p class="card-text">Tên: User <br> ID:12114141 <br>Số điện thoại: 090010999 <br> Email:abcxyz@gmail.com<br>....
                                    </p>
                                    <a href="form.html" class="btn btn-primary">Chỉnh sửa</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="images/card/card-img2.jpg" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Người dùng 2</h5>
                                    <p class="card-text">Tên: User <br> ID:12114141 <br>Số điện thoại: 090010999 <br> Email:abcxyz@gmail.com<br>....
                                    </p>
                                    <a href="form.html" class="btn btn-primary">Chỉnh sửa</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="images/card/card-img3.jpg" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Người dùng 3</h5>
                                    <p class="card-text">Tên: User <br> ID:12114141 <br>Số điện thoại: 090010999 <br> Email:abcxyz@gmail.com<br>....
                                    </p>
                                    <a href="form.html" class="btn btn-primary">Chỉnh sửa</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="images/card/card-img4.jpg" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Người dùng 4</h5>
                                    <p class="card-text">Tên: User <br> ID:12114141 <br>Số điện thoại: 090010999 <br> Email:abcxyz@gmail.com<br>....
                                    </p>
                                    <a href="form.html" class="btn btn-primary">Chỉnh sửa</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="images/card/card-img5.jpg" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Người dùng 5</h5>
                                    <p class="card-text">Tên: User <br> ID:12114141 <br>Số điện thoại: 090010999 <br> Email:abcxyz@gmail.com<br>....
                                    </p>
                                    <a href="form.html" class="btn btn-primary">Chỉnh sửa</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="images/card/card-img6.jpg" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Người dùng 6</h5>
                                    <p class="card-text">Tên: User <br> ID:12114141 <br>Số điện thoại: 090010999 <br> Email:abcxyz@gmail.com<br>....
                                    </p>
                                    <a href="form.html" class="btn btn-primary">Chỉnh sửa</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="images/card/card-img7.jpg" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Người dùng 7</h5>
                                    <p class="card-text">Tên: User <br> ID:12114141 <br>Số điện thoại: 090010999 <br> Email:abcxyz@gmail.com<br>....
                                    </p>
                                    <a href="form.html" class="btn btn-primary">Chỉnh sửa</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="images/card/card-img8.jpg" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Người dùng 8</h5>
                                    <p class="card-text">Tên: User <br> ID:12114141 <br>Số điện thoại: 090010999 <br> Email:abcxyz@gmail.com<br>....
                                    </p>
                                    <a href="form.html" class="btn btn-primary">Chỉnh sửa</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="card card-bordered">
                                <img class="card-img-top img-fluid" src="images/card/card-img9.jpg" alt="image">
                                <div class="card-body">
                                    <h5 class="title">Người dùng 9</h5>
                                    <p class="card-text">Tên: User <br> ID:12114141 <br>Số điện thoại: 090010999 <br> Email:abcxyz@gmail.com<br>....
                                    </p>
                                    <a href="form.html" class="btn btn-primary">Chỉnh sửa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>