<div class="main-content-inner">
                <!-- visitor graph area start -->
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-5">
                            <h4 class="header-title mb-0">Biểu đồ tổng quan</h4>
                            <select class="custome-select border-0 pr-3">
                                <option selected="">7 Ngày qua</option>
                                <option value="0">7 Ngày qua</option>
                            </select>
                        </div>
                        <div id="visitor_graph"></div>
                    </div>
                </div>
                <!-- visitor graph area end -->
                <!-- order list area start -->
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="header-title">Đơn hàng hôm nay</h4>
                        <div class="table-responsive">
                            <table class="dbkit-table">
                                <tbody>
                                    <tr class="heading-td">
                                        <td>Tên sản phẩm</td>
                                        <td>Mã sản phẩm</td>
                                        <td>Tình trạng</td>
                                        <td>Mã khách hàng</td>
                                        <td>Zip Code</td>
                                        <td>Xem đơn</td>
                                    </tr>
                                    <tr>
                                        <td>Kính mát Sì gòn</td>
                                        <td>#894750374</td>
                                        <td><span class="pending_dot">Đang xử lí</span></td>
                                        <td>01976 74 92 00</td>
                                        <td>3456</td>
                                        <td>Xem đơn</td>
                                    </tr>
                                    <tr>
                                        <td>Kính mát Sì gòn</td>
                                        <td>#894750374</td>
                                        <td><span class="shipment_dot">Đang giao</span></td>
                                        <td>01976 74 92 00</td>
                                        <td>2865</td>
                                        <td>Xem đơn</td>
                                    </tr>
                                    <tr>
                                        <td>Kính mát Sì gòn</td>
                                        <td>#894750374</td>
                                        <td><span class="pending_dot">Đang xử lí</span></td>
                                        <td>01976 74 92 00</td>
                                        <td>3456</td>
                                        <td>Xem đơn</td>
                                    </tr>
                                    <tr>
                                        <td>Kính mát Sì gòn</td>
                                        <td>#894750374</td>
                                        <td><span class="confirmed _dot">Đã xác nhận</span></td>
                                        <td>01976 74 92 00</td>
                                        <td>2865</td>
                                        <td>Xem đơn</td>
                                    </tr>
                                    <tr>
                                        <td>Kính mát Sì gòn</td>
                                        <td>#894750374</td>
                                        <td><span class="pending_dot">Đang xử lí</span></td>
                                        <td>01976 74 92 00</td>
                                        <td>1999</td>
                                        <td>Xem đơn</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination_area pull-right mt-5">
                            <ul>
                                <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- order list area end -->
                <div class="row">
                    <!-- product sold area start -->
                    <div class="col-xl-8 col-lg-7 col-md-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-4">
                                    <h4 class="header-title mb-0">Sản phẩm đã bán</h4>
                                    <select class="custome-select border-0 pr-3">
                                        <option selected="">Today</option>
                                        <option value="0">Last 7 Days</option>
                                    </select>
                                </div>
                                <div class="table-responsive">
                                    <table class="dbkit-table">
                                        <tbody>
                                            <tr class="heading-td">
                                                <td>Tên sản phẩm</td>
                                                <td>Lợi nhuận</td>
                                                <td>Tiền bán</td>
                                                <td>Giảm giá</td>
                                            </tr>
                                            <tr>
                                                <td>Kính mát Sì gòn</td>
                                                <td>$56</td>
                                                <td>$160</td>
                                                <td>$20</td>
                                            </tr>
                                            <tr>
                                                <td>Kính mát Sì gòn</td>
                                                <td>$26</td>
                                                <td>$500</td>
                                                <td>$20</td>
                                            </tr>
                                            <tr>
                                                <td>Kính mát Sì gòn</td>
                                                <td>$26</td>
                                                <td>$500</td>
                                                <td>$20</td>
                                            </tr>
                                            <tr>
                                                <td>Kính mát Sì gòn</td>
                                                <td>$56</td>
                                                <td>$250</td>
                                                <td>$10</td>
                                            </tr>
                                            <tr>
                                                <td>Kính mát Sì gòn</td>
                                                <td>$56</td>
                                                <td>$125</td>
                                                <td>$50</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pagination_area pull-right mt-5">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product sold area end -->
                    <!-- team member area start -->
                    <div class="col-xl-4 col-lg-5 col-md-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-sm-flex flex-wrap justify-content-between mb-4 align-items-center">
                                    <h4 class="header-title mb-0">Thành viên trong nhóm</h4>
                                    <form class="team-search">
                                        <input type="text" name="search" placeholder="Tìm kiếm">
                                    </form>
                                </div>
                                <div class="member-box">
                                    <div class="s-member">
                                        <div class="media align-items-center">
                                            <img src="images/team/team-author1.jpg" class="d-block ui-w-30 rounded-circle" alt="">
                                            <div class="media-body ml-5">
                                                <p>Amir Hamza</p><span>Quản lí</span>
                                            </div>
                                            <div class="tm-social">
                                                <a href="#"><i class="fa fa-phone"></i></a>
                                                <a href="#"><i class="fa fa-envelope"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="s-member">
                                        <div class="media align-items-center">
                                            <img src="images/team/team-author2.jpg" class="d-block ui-w-30 rounded-circle" alt="">
                                            <div class="media-body ml-5">
                                                <p>Anamul Kabir</p><span>Thiết kế giao diện</span>
                                            </div>
                                            <div class="tm-social">
                                                <a href="#"><i class="fa fa-phone"></i></a>
                                                <a href="#"><i class="fa fa-envelope"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="s-member">
                                        <div class="media align-items-center">
                                            <img src="images/team/team-author3.jpg" class="d-block ui-w-30 rounded-circle" alt="">
                                            <div class="media-body ml-5">
                                                <p>Animesh Mondol</p><span>Thiết kế giao diện</span>
                                            </div>
                                            <div class="tm-social">
                                                <a href="#"><i class="fa fa-phone"></i></a>
                                                <a href="#"><i class="fa fa-envelope"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="s-member">
                                        <div class="media align-items-center">
                                            <img src="images/team/team-author4.jpg" class="d-block ui-w-30 rounded-circle" alt="">
                                            <div class="media-body ml-5">
                                                <p>Faruk Hasan</p><span>Thiết kế giao diện</span>
                                            </div>
                                            <div class="tm-social">
                                                <a href="#"><i class="fa fa-phone"></i></a>
                                                <a href="#"><i class="fa fa-envelope"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="s-member">
                                        <div class="media align-items-center">
                                            <img src="images/team/team-author5.jpg" class="d-block ui-w-30 rounded-circle" alt="">
                                            <div class="media-body ml-5">
                                                <p>Sagor Chandra</p><span>Thiết kế kiến trúc</span>
                                            </div>
                                            <div class="tm-social">
                                                <a href="#"><i class="fa fa-phone"></i></a>
                                                <a href="#"><i class="fa fa-envelope"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- team member area end -->
                </div>
            </div>