<div class="main-content-inner">
                <div class="row">
                    <!-- table primary start -->
                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Váy</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-primary">
                                                <tr class="text-white">
                                                    <th scope="col">Mã sản phẩm</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Ngày hết hạn</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 1</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm  2</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm  3</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm  4</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- table primary end -->
                    <!-- table success start -->
                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Áo thun</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-success">
                                                <tr class="text-white">
                                                    <th scope="col">Mã sản phẩm</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Ngày hết hạn</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 1</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 2</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 3</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 4</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- table success end -->
                    <!-- table info start -->
                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Giày</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-info">
                                                <tr class="text-white">
                                                    <th scope="col">Mã sản phẩm</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Ngày hết hạn</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 1</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 2</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 3</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 4</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- table info end -->
                    <!-- table warning start -->
                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Áo khoát</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-warning">
                                                <tr class="text-white">
                                                    <th scope="col">Mã sản phẩm</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Ngày hết hạn</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 1</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 2</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 3</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 4</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- table warning end -->
                    <!-- table danger start -->
                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Áo mùa đông</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-danger">
                                                <tr class="text-white">
                                                    <th scope="col">Mã sản phẩm</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Ngày hết hạn</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 1</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 2</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 3</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 4</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- table danger end -->
                    <!-- table dark start -->
                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Trang phục giáng sinh</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-dark">
                                                <tr class="text-white">
                                                   <th scope="col">Mã sản phẩm</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Ngày hết hạn</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 1</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 2</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 3</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 4</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- table dark end -->
                    <!-- table light start -->
                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Đồng hồ</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-light">
                                                <tr>
                                                    <th scope="col">Mã sản phẩm</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Ngày hết hạn</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 1</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 2</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 3</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 4</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- table light end -->
                    <!-- table secondary start -->
                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Quần</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-secondary">
                                                <tr class="text-white">
                                                    <th scope="col">Mã sản phẩm</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Ngày hết hạn</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 1</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 2</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 3</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 4</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- table secondary end -->
                    <!-- Contextual Classes start -->
                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Nón</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-dark text-center">
                                            <thead class="text-uppercase">
                                                <tr class="table-active">
                                                    <th scope="col">Mã sản phẩm</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Ngày hết hạn</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-primary">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 1</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="table-secondary">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 2</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="table-success">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 3</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="table-danger">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 4</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="table-warning">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 5</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="table-info">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 6</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="table-light">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 7</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="table-dark">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 8</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Contextual Classes end -->
                    <!-- Contextual Classes start -->
                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Đồ điện tử</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-dark text-center">
                                            <thead class="text-uppercase">
                                                <tr class="table-active">
                                                    <th scope="col">Mã sản phẩm</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Ngày hết hạn</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="bg-primary">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 1</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="bg-secondary">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 2</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="bg-success">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 3</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$120</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="bg-danger">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 4</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="bg-warning">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 5</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="bg-info">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 6</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="bg-light">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 7</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                                <tr class="bg-dark text-white">
                                                    <th scope="row">1</th>
                                                    <td>Sản phẩm 8</td>
                                                    <td>09 / 07 / 2018</td>
                                                    <td>$150</td>
                                                    <td><i class="ti-trash"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Contextual Classes end -->
                </div>
            </div>